@{
    ViewData["Title"] = "Home Page";
}

</ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">

    <div class="text-center">
        <h1 class="display-4">Welcome to Yasslay Confession Board!</h1>
        <p>Yasslay Confession Board is a website dedicated to helping people find their romance.<br />On this website, you can send your confessions to anyone along with a gift that you can buy from the Gift Shop.<br />In addition, you can edit or delete your confessions for memories' sake.<br />Happy confessing!</p>
    </div>
