@{
    ViewData["Title"] = "Privacy Policy";
}
</ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
